.Header {
  background-color: $header-background;
  padding: 20px;
  color: $header-text-color;
  .header_container{
    max-width: $app-max-width;
    margin: auto;
  }
  .Logo {
    height: 55px;
  }
  .fa {
    display: inline-block;
    position: relative;
    top: 14px;
    right: 10px;
  }
  .dropdown {
    display: inline-block;
    font-size: 16pt;
    list-style: none;
    font-family: $header-font-family;
    font-weight: $header-weight;
    position: relative;
    top: 14px;
    .caret {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
    }
    .dropdown-toggle {
      color: $header-text-color !important;
    }
  }
  
}