.stats {
  .sub-title {
    margin-top: 0px;
  }
  .info {
    padding-top: 16px;
  }
  .other_weeks {
    .sub-title {
      text-align: center;
    }
    .recharts-wrapper {
      left: 25%;
    }
  }
}