@import 'https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:800';

$white: #fff;
$background-dark: #2C2F31;

$impact: 'Work Sans', sans-serif;
$std-font: 'Montserrat', sans-serif;