@import 'https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:800';
body {
  font-family: sans-serif;
  background-color: #FAFBFC; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.App .dashboard {
  max-width: 1250px;
  margin: 20px auto; }

.App .panel-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #000;
  text-align: left;
  font-size: 18pt; }

.App .title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 20pt; }

.App .sub-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #2C2F31;
  font-size: 16pt; }

.App .info {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #7e8692;
  font-size: 14pt; }

.App .accent {
  color: #F25F24; }

.Header {
  background-color: #2C2F31;
  padding: 20px;
  color: #fff; }
  .Header .header_container {
    max-width: 1250px;
    margin: auto; }
  .Header .Logo {
    height: 55px; }
  .Header .fa {
    display: inline-block;
    position: relative;
    top: 14px;
    right: 10px; }
  .Header .dropdown {
    display: inline-block;
    font-size: 16pt;
    list-style: none;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    position: relative;
    top: 14px; }
    .Header .dropdown .caret {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff; }
    .Header .dropdown .dropdown-toggle {
      color: #fff !important; }

.dayforecast {
  text-align: center; }
  .dayforecast h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    color: #F25F24;
    font-size: 80pt;
    -webkit-text-stroke: 4px #2C2F31;
    margin: 0px;
    line-height: .8; }
  .dayforecast .conditions {
    color: #F25F24;
    font-size: 70pt;
    -webkit-text-stroke: 2px #2C2F31; }
  .dayforecast .info {
    padding-top: 10px; }

.quickdaystats .sub-title {
  font-size: 14pt;
  margin-bottom: 0; }

.quickdaystats .info {
  font-size: 12pt;
  line-height: 1;
  margin: 0; }

.stats .sub-title {
  margin-top: 0px; }

.stats .info {
  padding-top: 16px; }

.stats .other_weeks .sub-title {
  text-align: center; }

.stats .other_weeks .recharts-wrapper {
  left: 25%; }

.warning_container .row {
  margin-bottom: 6px; }

.warning_container .warning {
  border: 2px solid #F25F24;
  border-radius: 5px;
  height: 45px;
  padding: 0px;
  background-color: #fff;
  color: #2C2F31; }
  .warning_container .warning .icon {
    width: 60px;
    height: 100%;
    color: #fff;
    background-color: #F25F24;
    font-size: 25pt;
    text-align: center;
    vertical-align: middle;
    line-height: 1.3;
    margin-right: 10px; }
